@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade {
  0% {
    opacity: 0.01;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade {
  animation: fade ease-in 1s;
}

.gradient-text {
  background: linear-gradient(
    to left,
    #7843e9,
    #64baa9,
    #408da7,
    #64baa9,
    #7843e9,
    #64baa9,
    #408da7
  );
  background-size: 300% 300%;
  background-clip: text;
}
